  <ion-view view-title="Méga CGR Blagnac">
    <ion-content>

<!-----------------------------END-------->
  <!-----------------------------START-------->
    <div class="list card" id="Blagnac">
    <div class="item item-avatar">
        <img src="img/CGR.png">
        <h2>Méga CGR Blagnac (Toulouse)</h2>
        <p>ZAC du Grand Noble, 2 Allée Emile Zola, 31700 Blagnac</p>
      </div>
    <div class="item item-image">
      <img src="img/Blagnac.jpg">
    </div>
    <a class="item item-icon-left assertive" href="#">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>
