  <ion-view view-title="Méga CGR Bourges">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Bourges">
    <div class="item item-avatar">
        <img src="img/CGR.png">
        <h2>Méga CGR Bourges</h2>
        <p>ZAC du Prado, Boulevard de l'Avenir, 18000 Bourges</p>
      </div>
    <div class="item item-image">
      <img src="img/Bourges.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.cgrcinemas.fr/bourges/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>
