  <ion-view view-title="Méga CGR Brignais">
    <ion-content>

  <!-----------------------------START-------->
    <div class="list card" id="Brignais">
    <div class="item item-avatar">
        <img src="img/CGR.png">
        <h2>Méga CGR Brignais</h2>
        <p>ZI Nord les Vallières, Rue de l'Industrie, 69530 Brignais</p>
      </div>
    <div class="item item-image">
      <img src="img/Brignais.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.cgrcinemas.fr/brignais/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>