    <ion-view view-title="Étoile Cosmos - Chelles">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Chelles">
    <div class="item item-avatar">
        <img src="img/cosmos.png"/>
        <h2>Etoile Cosmos Chelles</h2>
        <p>22 Avenue de la Résistance, 77500 Chelles</p>
      </div>
    <div class="item item-image">
      <img src="img/Chelles.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.etoile-cinemas.com/cosmos/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
</ion-content>
</ion-view view-title>
