  <ion-view view-title="Méga CGR Le Paris">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Clermont">
    <div class="item item-avatar">
        <img src="img/CGR.png">
        <h2>Méga CGR Le Paris - Clermont-Ferrand</h2>
        <p>Rue Barrière de Jaude 63000 Clermont-Ferrand</p>
      </div>
    <div class="item item-image">
      <img src="img/Clermont.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.cgrcinemas.fr/leparis/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>