<ion-view view-title="Méga CGR Epinay Sur Seine">
  <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Epinay" >
		<div class="item item-avatar">
    		<img src="img/CGR.png">
    		<h2>Méga CGR Epinay</h2>
    		<p>5 Avenue Joffre, 93800 Epinay sur Seine</p>
  		</div>
  	<div class="item item-image">
    	<img src="img/Epinay.JPG">
  	</div>
  	<a class="item item-icon-left assertive" href="http://www.cgrcinemas.fr/epinay/">
<center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
  	</a>
	</div>
  <img src="img/AEpinay.png">
<!-----------------------------END-------->
  </ion-content>
</ion-view>
