  <ion-view view-title="Europacorp Cinémas">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Europacorp">
    <div class="item item-avatar">
        <img src="img/Europacorp.png">
        <h2>Aéroville - Europacorp Cinémas</h2>
        <p>30 Rue des Buissons, 95700 Tremblay en France</p>
      </div>
    <div class="item item-image">
      <img src="img/Europacorp.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.europacorpcinemas.com/">
<center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
  <div class="plan_bloc bloc_pie">
			<center><h4>À pieds et en deux roues</h4></center>
			<center><p>
				Entrée piétonne via le Terminal COOK<br>
				30, Rue des Buissons<br>
				95700 Roissy-en-France<br>
				Des parkings à vélos sont à votre disposition près de l’entrée
				du centre.
			</p></center>
		</div>

		<div class="plan_bloc bloc_voi">
			<center><h4>En voiture</h4></center>
			<center><p>
				A1 - A3 - A86 - La Francilienne<br>
				Direction CHARLES DE GAULLE - Sortir à Centre Commercial Régional AEROVILLE<br><br>
				Adresse GPS sur Google Maps ou Waze : EuropaCorp CINEMAS<br>
				Un parc de stationnement de 4.700 places est réservé aux clients
				du centre de shopping avec 5 heures de stationnement gratuit. Parking EuropaCorp CINEMAS P4 au Terminal COOK.
			</p></center>
		</div>

		<div class="plan_bloc bloc_rer">
			<center><h4>En RER B</h4></center>
		<center>	<p>
				Stations du RER B les plus proches : Paris CDG 1, Parc des Expositions et Villepinte. <br>
				Une navette spéciale AEROVILLE vous emmène au centre commercial depuis la station de RER B CDG 1 (Roissy Pôle), en passant par les différents hôtels de la zone.<br>
				Vous pouvez également emprunter un des nombreux bus qui desservent le centre de shopping Aéroville :
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_39.pdf" target="_blank">39</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_43.pdf" target="_blank">43</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_100.pdf" target="_blank">100</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_349.pdf" target="_blank">349</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_350.pdf" target="_blank">350</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_351.pdf" target="_blank">351</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_T_BUS.pdf" target="_blank">T-BUS</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_n140.pdf" target="_blank">Noctilien N140</a> (Noctilien depuis Gare de l'Est)
			</p></center>
		</div>

		<div class="plan_bloc bloc_bus">
			<center><h4>En bus</h4></center>
			<center><p>
				Lignes
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_32.pdf" target="_blank">32</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_39.pdf" target="_blank">39</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_43.pdf" target="_blank">43</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_95-02.pdf" target="_blank">95-02</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_100.pdf" target="_blank">100</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_349.pdf" target="_blank">349</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_350.pdf" target="_blank">350</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_351.pdf" target="_blank">351</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_607.pdf" target="_blank">607</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_617.pdf" target="_blank">617</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_T_BUS.pdf" target="_blank">T-BUS</a>,
				<a href="https://www.europacorpcinemas.com/img/plan/Horaires_ligne_n140.pdf" target="_blank">Noctilien N140</a> (depuis gare de l’Est) <br>Arrêts : AEROVILLE
			</p></center>
		</div>
		<div class="plan_bloc bloc_adr">
			<center><h4>Adresse</h4></center>
			<center><p>
				<a href="https://www.google.com/maps/place/EuropaCorp+CINEMAS/@48.990211,2.523315,17z/data=!3m2!4b1!5s0x47e615a251cdbadb:0x1e314697c5bbb2dc!4m2!3m1!1s0x47e61598425d2633:0xf2abfd07ec391e59" target="_blank">EuropaCorp CINEMAS</a> Aéroville<br>
				30 rue des Buissons<br>
				CS 90001 Tremblay-En-France<br>
				95714 Roissy Charles-de Gaulle Cedex
      </p></center>
		</div>
<!-----------------------------END-------->
</ion-content>
</ion-view view-title>
