  <ion-view view-title="Méga CGR Evry">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Evry">
    <div class="item item-avatar">
        <img src="img/CGR.png">
        <h2>Méga CGR Evry</h2>
        <p>Centre Commerciale Evry 2, Allée Haute de l’Agora, 91000 Evry</p>
      </div>
    <div class="item item-image">
      <img src="img/Evry.jpg">
    </div>

    <a class="item item-icon-left assertive" href="http://www.cgrcinemas.fr/evry/">
    <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
  </ion-view view-title>
