  <ion-view view-title="L'Ermitage - Fontainebleau">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Fontainebleau">
    <div class="item item-avatar">
        <img src="img/font.png">
        <h2>L'Ermitage - Fontainebleau</h2>
        <p>6 Rue de France, 77300 Fontainebleau</p>
      </div>
    <div class="item item-image">
      <img src="img/Fontainebleau.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.cinefontainebleau.fr/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
</ion-content>
</ion-view view-title>