   <ion-view view-title="Cinéma Jacques Brel">
    <ion-content> 
  <!-----------------------------START-------->
    <div class="list card" id="Garges">
    <div class="item item-avatar">
        <img src="img/Garges.png">
        <h2>Cinéma Jacques Brel - Garges-Lès-Gonesse</h2>
        <p>1, place de l'Hôtel-de-Ville 95140 Garges-lès-Gonesse</p>
      </div>
    <div class="item item-image">
      <img src="img/Garges.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.villedegarges.fr/cinema-jacques-brel.php">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>