  <ion-view view-title="Kinépolis Lomme">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Lomme">
    <div class="item item-avatar">
        <img src="img/kinepolis.png">
        <h2>Kinépolis Lomme</h2>
        <p>1 Rue du Château d'Isenghien, 59160 Lomme</p>
      </div>
    <div class="item item-image">
      <img src="img/Lomme.jpg">
    </div>
    <a class="item item-icon-left assertive" href="https://kinepolis.fr/cinemas/kinepolis-lomme">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>