  <ion-view view-title="Méga CGR Le Colisée">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Mans">
    <div class="item item-avatar">
        <img src="img/CGR.png">
        <h2>Méga CGR Le Colisée - Le Mans</h2>
        <p>11, rue du Port 72000 Le Mans</p>
      </div>
    <div class="item item-image">
      <img src="img/Mans.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.cgrcinemas.fr/lemans/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>