  <ion-view view-title="Méga CGR La Mézière">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Meziere">
    <div class="item item-avatar">
        <img src="img/CGR.png">
        <h2>Méga CGR La Mézière - Rennes</h2>
        <p>Cap Malo, Route de Saint Malo, 35520 La Mézière</p>
      </div>
    <div class="item item-image">
      <img src="img/Epinay.JPG">
    </div>
    <a class="item item-icon-left assertive" href="http://www.cgrcinemas.fr/lameziere/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>