  <ion-view view-title="Kinépolis - Mulhouse">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Mulhouse">
    <div class="item item-avatar">
        <img src="img/kinepolis.png">
        <h2>Kinépolis - Mulhouse</h2>
        <p>175 avenue Robert Schuman, 68070 Mulhouse</p>
      </div>
    <div class="item item-image">
      <img src="img/Mulhouse.jpg">
    </div>
    <a class="item item-icon-left assertive" href="https://kinepolis.fr/cinemas/kinepolis-mulhouse">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>