  <ion-view view-title="Méga CGR Draguignan Chabran">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Nice">
    <div class="item item-avatar">
        <img src="img/CGR.png">
        <h2>Méga CGR Draguignan Chabran - Nice</h2>
        <p>166 place du 7ème Bataillon de Chasseurs Alpins, 83300 Draguignan</p>
      </div>
    <div class="item item-image">
      <img src="img/Nice.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.cgrcinemas.fr/draguignan-chabran/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>