  <ion-view view-title="Méga CGR St Louis - Pau">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Pau">
    <div class="item item-avatar">
        <img src="img/CGR.png">
        <h2>Méga CGR St Louis - Pau</h2>
        <p>11 Rue Maréchal Joffre, 64000 Pau</p>
      </div>
    <div class="item item-image">
      <img src="img/Pau.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.cgrcinemas.fr/pau/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>