<ion-view view-title="À Propos">
  <ion-content id="fiche">
  <img src="img/ayngaran_logo.jpg" style="height:25%;"/>
<center>
  <p>Ayngaran, fondée en 1987 par M.Karunamurthy s'est bien développé en Angleterre. En France, les films distribués par Ayngaran sont restés isolé à Aubervilliers quatre chemin notamment dû au barrage de la langue.</p>

<p>Depuis 2011, elle est gérée par une équipe de jeune dont leur seul but est de développer au mieux le cinéma indien en France.</p>

<p>Avec plus de 20 sorties en 2015, Ayngaran est le leader du marché en France actuellement.</p>

  	<p>Remerciements :- Responsable : Mr V.P - Designeur : Mr S.P - Developpeur : Mr E.J </p>
  	<p> © Ayngaran France - 2011-2016 </p>

 </center>




  </ion-content>
</ion-view view-title>
