  <ion-view view-title="Publicis Paris">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Publicis">
    <div class="item item-avatar">
        <img src="img/Publicis.png">
        <h2>Publicis Cinémas Paris</h2>
        <p>129 Avenue des Champs Elysées, 75008 Paris</p>
      </div>
    <div class="item item-image">
      <img src="img/Publicis.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.publicisdrugstore.com/#/cinemas/actuellement/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
</ion-content>
</ion-view view-title>