<ion-view view-title="Les salles">
  <ion-content>
 <div class="list">

  <div class="item item-divider">
    Région Parisienne
  </div>
  <a class="item" href="#/app/Publicis">
    Paris 8ème (75)
  </a>
      <a class="item" href="#/app/Chelles">
    Chelles (77)
  </a>
  <a class="item" href="#/app/Fontainebleau">
    Fontainebleau (77)
  </a>
      <a class="item" href="#/app/Savigny">
    Savigny-le-Temple (77)
  </a>
      <a class="item" href="#/app/Torcy">
    Torcy (77)
  </a>
    <a class="item" href="#/app/Mantes">
    Mantes La Jolie (78)
  </a>
      <a class="item" href="#/app/Trappes">
    Trappes (78)
  </a>

  <a class="item" href="#/app/Evry">
    Evry (91)
  </a>
        <a class="item" href="#/app/Ris">
        Ris-Orangis (91)
  </a>
  <a class="item" href="#/app/Epinay">
    Epinay Sur Seine (93)
  </a>
  <a class="item" href="#/app/Courneuve">
    La Courneuve (93)
  </a>
  <a class="item" href="#/app/Garges">
      Garges-Lès-Gonesse (95)
  </a>
  <a class="item" href="#/app/Europacorp">
    Tremblay En France (95)
  </a>
  <div class="item item-divider">
    Province
  </div>
  <a class="item" href="#/app/Nice">
      Draguignan (83) - Nice (06)
  </a>
  <a class="item" href="#/app/Vitrolles">
      Vitrolles - Marseille (13)
  </a>
  <a class="item" href="#/app/Bourges">
      Bourges (18)
  </a>
    <a class="item" href="#/app/Brest">
      Brest (29)
  </a>
     <a class="item" href="#/app/Nimes">
       Nîmes (30)
  </a>
    <a class="item" href="#/app/Blagnac">
      Blagnac (31)
  </a>
    <a class="item" href="#/app/Colmar">
      Colmar (68)
  </a>
      <a class="item" href="#/app/Bordeaux">
      Bordeaux (33)
  </a>
        <a class="item" href="#/app/Meziere">
      La Mézière - Rennes (35)
  </a>
  <a class="item" href="#/app/Tours">
      Tours (37)
  </a>
       <a class="item" href="#/app/Nancy">
        Nancy (54)
  </a>
     <a class="item" href="#/app/Lanester">
      Lanester (56)
  </a>
     <a class="item" href="#/app/Metz">
        Saint-Julien-lès-Metz (57)
  </a>


    <a class="item" href="#/app/Brignais">
      Brignais (69)
  </a>
    <a class="item" href="#/app/Lomme">
      Lomme (59)
  </a>
      <a class="item" href="#/app/Clermont">
      Clermont-Ferrand (63)
  </a>
      <a class="item" href="#/app/Pau">
      Pau (64)
  </a>

<a class="item" href="#/app/Tarbes">
      Tarbes (65)
  </a>
     <a class="item" href="#/app/Mulhouse">
      Mulhouse (68)
  </a>
      <a class="item" href="#/app/Mans">
      Le Mans (72)
  </a>
   <a class="item" href="#/app/Niort">
      Niort (79)
  </a>
      <a class="item" href="#/app/Poitiers">
      Poitiers (86)
  </a>



</div>

  </ion-content>
</ion-view>
