  <ion-view view-title="Espace Préverts Savigny">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Savigny">
    <div class="item item-avatar">
        <img src="img/savigny.png">
        <h2>Espace Préverts - Savigny-le-Temple</h2>
        <p>Place Miroir d'Eau, 77176 Savigny-le-Temple</p>
      </div>
    <div class="item item-image">
      <img src="img/Savigny.jpg">
    </div>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>