  <ion-view view-title="Méga CGR Tarbes">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Tarbes">
    <div class="item item-avatar">
        <img src="img/CGR.png">
        <h2>Méga CGR Tarbes - Lourdes</h2>
        <p>Avenue des Forges, 65000 Tarbes</p>
      </div>
    <div class="item item-image">
      <img src="img/Tarbes.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.cgrcinemas.fr/tarbes/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>