  <ion-view view-title="Méga CGR Torcy">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Torcy">
    <div class="item item-avatar">
        <img src="img/CGR.png">
        <h2>Méga CGR Torcy</h2>
        <p>Centre Loisirs Bay 1, Promenade du 7e Art, 77200 Torcy</p>
      </div>
    <div class="item item-image">
      <img src="img/Torcy.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.cgrcinemas.fr/torcy/">
<center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
  </ion-view view-title>
