  <ion-view view-title="Méga CGR Tours Centre">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Tours">
    <div class="item item-avatar">
        <img src="img/CGR.png">
        <h2>Méga CGR Tours Centre</h2>
        <p>4 Place François Truffaut, 37000 Tours</p>
      </div>
    <div class="item item-image">
      <img src="img/Tours.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.cgrcinemas.fr/tours/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>