  <ion-view view-title="Grenier à Sel">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Trappes">
    <div class="item item-avatar">
        <img src="img/trappes.png">
        <h2>Le Grenier à Sel - Trappes</h2>
        <p>1, rue de l’Abreuvoir  78190 Trappes</p>
      </div>
    <div class="item item-image">
      <img src="img/Trappes.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.cinemagrenierasel.com/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
      </ion-content>
</ion-view view-title>