  <ion-view view-title="Méga CGR Studio Lumières Vitrolles">
    <ion-content>
  <!-----------------------------START-------->
    <div class="list card" id="Marseille">
    <div class="item item-avatar">
        <img src="img/CGR.png">
        <h2>Méga CGR Studio Lumières Vitrolles - Marseille</h2>
        <p>2 Rue Gérard Toulon, 13127 Vitrolles</p>
      </div>
    <div class="item item-image">
      <img src="img/Marseille.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://www.cgrcinemas.fr/vitrolles/">
      <center><button class="button button-block button-positive"> <i class="icon ion-share"></i>Aller sur le site du cinéma </button></center>
    </a>
  </div>
<!-----------------------------END-------->
    </ion-content>
</ion-view view-title>